.accordion {
  > h3 {
    background: none;
    border-radius: 5%;
    cursor: pointer;

    padding: 1rem 2rem;
    transition: background 0.5s;

    &:hover {
      background: rgba(aqua, 0.25);
      transition: background 0.5s;
    }
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
