table {
  @extend .table;

  margin: 36px 0 48px;

  & > tbody > tr > td,
  & > thead > tr > th {
    border-bottom: 1px solid $neutral7;
    line-height: $base-size * 0, 75;
    padding: $base-size / 2;
  }

  thead > tr > th {
    background-color: $neutral9;
    border-top-width: 0;
    color: $brand-secondary;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: bottom;
  }

  td > p {
    display: inline;

    &.dotDone {
      color: #5aca75;
    }
    &.dotProgress {
      color: #ff8f39;
    }
    &.dotWait {
      color: $brand-light-secondary-text;
    }
    &.tableSection {
      font-size: 14px;
      color: $brand-secondary;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
