$output-bourbon-deprecation-warnings: false;
$base-size: 24px; // 1.5rem aprox
$screen-md: 900px;
$screen-sm: 900px;
$screen-xs: 768px;
$grid-float-breakpoint: $screen-sm;
$content-max-width: 960px;
$sidebar-width: 376px;
// Color
$bg-color: #fff;
$footer-bg-color: #272833;
$brand-primary: #0b63ce !default;
$action-blue: #0B5FFF;
$brand-dark: #204589;
$brand-dark-lighter: #efeff4;
$brand-light: #fff;
$brand-light-secondary-text: #a7a9bc;
$brand-light-text: $brand-light;
$brand-lighten: #fbf8f5;
$brand-do: #287d34;
$brand-dont: #da1414;
$brand-progress: #b95000;
$text-color: #30313f !default;
$text-color-light: #393a4a !default;
$brand-secondary: #6b6c7e;
$neutral7: #c4cacb;
$neutral8: #e8e8e7;
$neutral9: #f7f8f9;
// Sizes
$margin-top-body: $base-size * 4;