---
title: "Legal"
url: "/docs/resources/legal"
icon: "lexicon-site-docs"
weight: 1
---

{namespace pageLegalIndex}

/**
 */
{template .render}
  {@param page: ?}

  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="refresh" content="0; URL='{$page.url}'">
    </head>
  </html>
{/template}
